{% extends "base.html" %}

{% block title %}Post Details{% endblock %}

{% block css %}
  <style>
    .post-details{
      width: 500px;
      margin: 20px auto;
      padding: 20px;
      border-radius: 5px;
    }
    .input-field{
      padding: 5px;
      width: 300px;
      border-radius: 5px;
      margin-bottom: 5px;
      border: 1px solid #ccc;
    }
    .submit-btn{
      background-color: #007BFF;
      color: white;
      border: none;
      padding: 5px 10px;
      border-radius: 5px;
      cursor: pointer;
    }
    a{
        text-decoration: none;
        color: white;
        background-color: #007BFF;
        padding: 5px 10px;
        border-radius: 5px;
    }
    #delete{
        background-color: #DC3545;
        color: white;
        border: none;
        padding: 5px 10px;
        border-radius: 5px;
        cursor: pointer;
    }
  </style>
{% endblock %}

{% block content %}
    <div class="post-details">
        <h1>{{ post.title }}</h1>
        <p>{{ post.content }}</p>
        <p>Author: {{ post.auther }}</p>
        <div>
            <a href="{{ url_for('update_post', id=post.id) }}">Edit</a>
            <form action="{{ url_for('delete_post', id=post.id) }}" method="POST" style="display:inline;">
                <button type="submit" id="delete">Delete</button>
            </form>
        </div>

        <div class="comments">
            <h2>Comments:</h2>
            {% for comment in post.comments %}
                <p>{{ comment.content }}</p>
            {% endfor %}
        </div>
    </div>
{% endblock %}