{% extends 'base.html' %}

{% block title %}Update Post{% endblock %}
{% block css %}
  <style>
    .post-form{
      width: 500px;
      margin: 20px auto;
      padding: 20px;
      border-radius: 5px;
    }
    .input-field{
      padding: 5px;
      width: 300px;
      border-radius: 5px;
      margin-bottom: 5px;
      border: 1px solid #ccc;
    }
    .submit-btn{
      background-color: #007BFF;
      color: white;
      border: none;
      padding: 5px 10px;
      border-radius: 5px;
      cursor: pointer;
    }
  </style>
{% endblock %}

{% block content %}
  <h1>Update Post</h1>
  <form method="POST" action="{{ url_for('update_post', id=post.id) }}" class="post-form">
    {{ form.hidden_tag() }}
    <div>
      {{ form.title.label }}
      {{ form.title() }}
    </div>
    <div>
      {{ form.content.label }}
      {{ form.content() }}
    </div>
    <div>
      {{ form.auther.label }}
      {{ form.auther() }}
    </div>
    {{ form.submit() }}
  </form>
{% endblock %}